@import "tailwindcss";
@plugin "daisyui";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.color{
  color:#002A5F
}

.bg{
  background-color: #002A5F;
}

.tiptap-content {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  font-size: 1rem;
  color: #111827;

  margin: 0;
  padding: 0;
}

.tiptap-content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1.5rem 0 1rem;
}
.tiptap-content h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 1.2rem 0 1rem;
}
.tiptap-content h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0 0.75rem;
}
.tiptap-content h4,
.tiptap-content h5,
.tiptap-content h6 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.8rem 0 0.5rem;
}

.tiptap-content p {
  margin-bottom: 1rem;
}

.tiptap-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}
.tiptap-content ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}
.tiptap-content li {
  margin-bottom: 0.5rem;
}

.tiptap-content strong {
  font-weight: bold;
}
.tiptap-content em {
  font-style: italic;
}
.tiptap-content u {
  text-decoration: underline;
}

.tiptap-content blockquote {
  border-left: 4px solid #d1d5db; /* gray-300 */
  padding-left: 1rem;
  color: #6b7280; /* gray-600 */
  font-style: italic;
  margin: 1rem 0;
}

.tiptap-content hr {
  border: none;
  border-top: 1px solid #e5e7eb; /* gray-200 */
  margin: 2rem 0;
}


.ProseMirror {
  background-color: #ffffff !important;
  color: #171717 !important;
}

.ProseMirror * {
  color: #171717 !important;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #999999 !important;
}

.ProseMirror ::selection {
  background: rgba(0, 100, 255, 0.2) !important;
}

.tab-content{
  background-color: white;
}
.tab{
  background-color: white;
  color: black;
}